/* Imported Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* color reference */
/* 
primary-color = #008BC2
secondary-color = #00AEF5
accent-color = #235E75
light-gray = #DADEDF
dark-gray = #323232 
*/

/* Header styles  */
header {
  max-width: 1600px;
  margin: 0 auto;
  background: url("../assets/images/banner/banner2.png") no-repeat center
    center/cover;
  /* background-color: #008bc2;
  background-blend-mode: multiply; */
}
.hero {
  max-width: 1140px;
  margin: 0 auto;
  height: 800px;
  display: flex;
  text-align: right;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
}
.hero-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 65px;
}
.hero-description {
  font-family: "Raleway", sans-serif;
  color: #323232;
  text-align: right;
  margin: 30px 0;
  line-height: 26px;
}
.btn-primary {
  background-color: #008bc2;
  border: 0;
  font-family: "Montserrat", sans-serif;
  padding: 15px 18px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}
