/* Imported Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* color reference */
/* 
primary-color = #008BC2
secondary-color = #00AEF5
accent-color = #235E75
light-gray = #DADEDF
dark-gray = #323232 
*/

/* Header styles  */
header {
  max-width: 1600px;
  margin: 0 auto;
  background: url("../assets/images/banner/banner2.png") no-repeat center
    center/cover;
}

.hero {
  max-width: 1140px;
  margin: 0 auto;
  height: 800px;
  display: flex;
  text-align: right;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
}
.hero-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 65px;
}
.hero-description {
  font-family: "Raleway", sans-serif;
  color: #323232;
  text-align: right;
  margin: 30px 0;
  line-height: 26px;
}
.btn-primary {
  background-color: #008bc2;
  border: 0;
  font-family: "Montserrat", sans-serif;
  padding: 15px 18px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* Feature section styles */
.feature {
  display: flex;
  gap: 90px;
  margin-top: 120px;
  align-items: center;
  font-family: "Raleway", sans-serif;
}
.feature > img {
  background: #dadedf;
  border-radius: 5px;
}
.feature-title {
  font-weight: 700;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
.feature-description {
  margin: 18px 0;
  line-height: 26px;
}
.feature ul li {
  list-style: none;
  text-align: left;
  margin-bottom: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Plan section styles  */
.plan-container {
  display: flex;
  gap: 50px;
}
.plan {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.plan-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 16px 0;
}
.section-title {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

/* Banner2 style  */
.banner2 {
  margin: 130px 0;
  background: url("../assets/images/watch.png") no-repeat center center/cover,
    url("../assets/images/gradient1.png") no-repeat center center/cover;
  background-blend-mode: multiply;
  height: 300px;
  display: flex;
  align-items: center;
}
.banner2-container {
  padding: 60px 0;
  padding-left: 60px;
}
.banner2-title {
  font-weight: 700;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.banner2-container button {
  margin-top: 24px;
}

/* Footer styles  */
footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 130px 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(36, 36, 36);
  color: white;
}
.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 60px;
}
.footer-contact h1,
.subscribe h1 {
  margin-bottom: 24px;
}
.footer-contact p {
  margin-bottom: 16px;
}
.social a {
  margin-right: 5px;
}

.subscribe input {
  padding: 20px;
  outline: none;
  font-size: 20px;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin-bottom: 16px;
  background-color: transparent;
  color: #008bc2;
  border: 2px solid white;
}
